{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="card">
    {% if article.image %}
    <img src="{{ article.image.url }}" class="card-img-top" alt="...">
    {% else %}
    <h3 class="text-center">No photo</h3>
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.content }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Автор: <b>{{ article.author }}</b>
        </li>
        <li class="list-group-item">
            Категория: <b>{{ article.category }}</b>
        </li>
        <li class="list-group-item">
            Просмотры: <b>{{ article.views }}</b>
        </li>
    </ul>

    <div class="card-footer d-flex align-items-center">
        {% if not request.user.is_superuser and request.user != article.author and request.user.is_authenticated %}
        <div class="d-flex gap-3">
            <a href="{% url 'add_vote' obj_type='article' obj_id=article.pk action='add_like' %}" class="text-info">
                <i class="bi-hand-thumbs-up"></i>
                {{ likes_count }}
            </a>
            <a href="{% url 'add_vote' obj_type='article' obj_id=article.pk action='add_dislike' %}"
               class="text-danger">
                <i class="bi-hand-thumbs-down"></i>
                {{ dislikes_count }}
            </a>
        </div>
        {% endif %}
        {% if request.user.is_superuser or request.user == article.author %}
        <div class="d-flex gap-3 ms-auto">
            <a href="{% url 'update' article.pk %}" class="btn btn-warning">Изменить</a>
            <a href="{% url 'delete' article.pk %}" class="btn btn-danger">Удалить</a>
        </div>
        {% endif %}
    </div>

</div>


<div class="mt-3">
    <h3 class="text-center mb-3">Комментарии</h3>
    {% if request.user.is_authenticated %}
    <form action="" class="mb-3" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-secondary mt-3">Отправить</button>
    </form>
    {% else %}
    <p class="text-center">
        Оставлять комментарии могут только авторизованные пользователи
        <a href="{% url 'login' %}">Войти</a>
    </p>
    {% endif %}

    <div class="d-flex flex-column gap-3">
        {% for comment in comments %}
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                {{ comment.created_at }}
                {% if not request.user.is_superuser and request.user != article.author and request.user.is_authenticated %}
                <div class="d-flex gap-3">
                    <a href="{% url 'add_vote' obj_type='comment' obj_id=comment.pk action='add_like' %}"
                       class="text-info">
                        <i class="bi-hand-thumbs-up"></i>
                        {% for key, value in comments_likes_count.items %}
                        {% if comment.pk == key %}
                        {{ value }}
                        {% endif %}
                        {% endfor %}
                    </a>
                    <a href="{% url 'add_vote' obj_type='comment' obj_id=comment.pk action='add_dislike' %}"
                       class="text-danger">
                        <i class="bi-hand-thumbs-down"></i>
                        {% for key, value in comments_dislikes_count.items %}
                            {% if comment.pk == key %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ comment.content }}</p>
                    <footer class="blockquote-footer">
                        <cite title="{{ comment.author }}">{{ comment.author }}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        {% empty %}
        <h3 class="text-center">No comments.....</h3>
        {% endfor %}
    </div>
</div>
{% endblock content %}
